body {
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    padding: 0;
}


/**************HEADER SECTION**************/
.header {
    /*height: 550px;*/
    background: #1a222c;
    color: #FFFFFF;
}

.nav_bar {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    z-index: 999;
}

.logo {
    
    margin-top: 30px;
    padding: 5px 0px 5px 25px;
}

.nav_links {

    margin-top: 30px;
    padding-left: 150px;
}

.nav_links li a {
    color: #FFFFFF;
}

.nav_links li a:hover {
    color: #d35fea !important;
    background: none;
}

.nav_links li a:visited {
    background: #1a222c;
}

.header_content {

    position: absolute;
    top: 100px;
    width: 34%;
    margin-left: 33%;
    margin-top: 125px;

}

.header_content h1 {
    font-size: 44px;
}

.header_content h3 {
    font-size: 22px;
}





/**************ABOUT ME SECTION**************/
.about_me {
    height: 500px;
    background-image: url("https://static.pexels.com/photos/9476/pexels-photo-large.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}


.about_me_content {

    margin-top: 150px;
}

.about_me_content h2 {
    font-size: 34px;
}

.about_me_side {

}





/**************PROJECTS SECTION**************/
.projects {

    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
}

.projects h3 {
    color: #455a64;
}

.project_display {

}


.project_links {
    color: #d35fea;
    margin-bottom: 25px;
}

.project_links h4 {
    color: #455a64;
}


.project_img {
    border: solid;
    border-width: 1px;
    border-color: #b0bec5;
    height: 400px;
    margin-top: 25px;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;

}

.browser {
    color: #95a8b2;
    border-bottom: solid;
    border-width: 1px;
    border-color: #b0bec5;
    height: 50px;
    padding: 0;
}

.browser_buttons {
    
    height: 40px;
    margin-top: 5px;
    padding: 8px 0px 0px 6px;

}

.circles {
    border: solid;
    border-radius: 50%;
    border-width: 1px;
    border-color: #b0bec5;
    height: 17px;
    width: 17px;
    margin-right: 2px;
    float: left;
}

.browser_url {
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #b0bec5;
    height: 40px;
    margin-top: 5px;
    padding-top: 8px;

}

.browser_image {

    height: 350px;
    padding: 0;
}

.browser_image img {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 100%;
    width: 100%;
}

.project_desc {
    color: #455a64;
    margin-top: 25px;
}

.project_link button{
    width: 120px;
}

.skills_used {

    margin-bottom: 20px;
}



/**************FOOTER SECTION**************/
.footer {
    height: 275px;
    border-top: solid;
    border-width: 10px;
    border-color: #2d404c;
/*    background: #f9f9f9;*/
    background: #374d5c;
    color: #FFFFFF;
/*    color: #FFFFFF;*/
}

.footer a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer a:hover {
    color: #d35fea;
}

.footer_left {

    padding: 0;

}



.left_email, .left_linkedin, .left_github {

    padding-top: 12px;
    height: 60px;
}


.info {

    height: 60px;
    padding-top: 10px;
}




.left_email span {
    font-size: 35px;
}

.left_linkedin i {
    font-size: 35px;
}

.left_github i {
    font-size: 35px;
}



.footer_right {

    padding: 0px;
    margin-top: 30px;
}

.right_map {

    height: 60px;
    padding-top: 12px;
 
}
.right_map i {
    font-size: 35px;
}

.right_address {


}




.footer_title {

}


/**************BOTTOM FOOTER**************/

.bottom_footer {
    background: #2d404c;
    color: #FFFFFF;
    height: 100px;
    padding: 25px;
}



