body {

}

.container-fluid {
    padding: 0;
}


/**************HEADER SECTION**************/
.header {
    /*height: 550px;*/
    background: #1a222c;
    color: #FFFFFF;
}

.nav_bar {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    z-index: 999;
}

.logo {
    
    margin-top: 30px;
    padding: 5px 0px 5px 25px;
}

.nav_links {

    margin-top: 30px;
    padding-left: 150px;
}

.nav_links li a {
    color: #FFFFFF;
}

.nav_links li a:hover {
    color: #d35fea !important;
    background: #1a222c;
}

.nav_links li a:visited {
    background: #1a222c;
}

.header_content {
    position: absolute;
    top: 100px;
    width: 100%;
    margin-top: 125px;

}





/**************ABOUT ME SECTION**************/
.about_me {
    height: 500px;
    background-image: url("https://static.pexels.com/photos/9476/pexels-photo-large.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.about_me_content {

    margin-top: 150px;
}

.about_me_side {

}





/**************PROJECTS SECTION**************/
.projects {

    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
}

.project_display {

}


.project_links {

    margin-bottom: 25px;
}



.project_img {
    border: solid;
    border-width: 1px;
    border-color: #b0bec5;
    height: 400px;
    margin-top: 25px;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;

}

.browser {
    color: #95a8b2;
    border-bottom: solid;
    border-width: 1px;
    border-color: #b0bec5;
    height: 50px;
    padding: 0;
}

.browser_buttons {
    
    height: 40px;
    margin-top: 5px;
    padding: 8px 0px 0px 6px;

}

.circles {
    border: solid;
    border-radius: 50%;
    border-width: 1px;
    border-color: #b0bec5;
    height: 17px;
    width: 17px;
    margin-right: 2px;
    float: left;
}

.browser_url {
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #b0bec5;
    height: 40px;
    margin-top: 5px;
    padding-top: 8px;

}

.browser_image {

    height: 350px;
    padding: 0;
}

.browser_image img {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 100%;
    width: 100%;
}

.project_desc {
    color: #455a64;
    margin-top: 25px;
}

.project_link button{
    width: 120px;
}

.skills_used {

    margin-bottom: 20px;
}



/**************FOOTER SECTION**************/
.footer {
    height: 250px;
    border-top: solid;
    border-width: 1px;
    border-color: #ddd;
    background: #f9f9f9;
}


.footer_title {

}

.footer_title span {
    font-size: 35px;
}

.social_icons {

    padding: 0;
}

.icon {

    margin: 20px;
    border-radius: 3px;
    padding: 7px 0 0 9px;
    height: 50px;
    width: 50px;
}

.github {
    background: #444444;
}

.fa-github {
    color: #FFFFFF;

}

.linkedin {
    background: #007BB6;
}
.fa-linkedin {
    color: #FFFFFF;
}

.icon i {
    font-size: 35px;
}










